# Random Forest Algorithem

In [1]:
# import libraries 

import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestClassifier, RandomForestRegressor
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

In [2]:
df = sns.load_dataset('tips')
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [3]:
le = LabelEncoder()
for i in df.columns:
    if df[i].dtype=='object' or df[i].dtype=='category':
        df[i]=le.fit_transform(df[i])
df.head()

   total_bill   tip  sex  smoker  day  time  size
0       16.99  1.01    0       0    2     0     2
1       10.34  1.66    1       0    2     0     3
2       21.01  3.50    1       0    2     0     3
3       23.68  3.31    1       0    2     0     2
4       24.59  3.61    0       0    2     0     4

In [4]:
# split the data into x and y
X=df.drop('sex', axis=1)
y=df['sex']

In [5]:
# train test split the data
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [6]:
# Traning the model
model=RandomForestClassifier(n_estimators=200,random_state=42)
model.fit(X_train,y_train)
y_pred=model.predict(X_test)

In [7]:
# Evaluvating Model
print('accuracy score : ', accuracy_score(y_test,y_pred))
print('confusion matrix \n: ', confusion_matrix(y_test,y_pred))
print('classification report :\n ',classification_report(y_test,y_pred))

accuracy score :  0.5510204081632653
confusion matrix
:  [[ 6 12]
 [10 21]]
classification report :
                precision    recall  f1-score   support

           0       0.38      0.33      0.35        18
           1       0.64      0.68      0.66        31

    accuracy                           0.55        49
   macro avg       0.51      0.51      0.50        49
weighted avg       0.54      0.55      0.54        49

In [8]:

# USe random Forest for Regression task
X = df.drop('tip', axis = 1)
y = df['tip']

In [9]:
# train test split the data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state=42)

In [10]:

#create, train and predict the model
model_reg = RandomForestRegressor()
model_reg.fit(X_train, y_train)
y_pred = model_reg.predict(X_test)

In [11]:
# Classification Eval
print('mean squared error: ', mean_squared_error(y_test, y_pred))
print('mean absolute error: ', mean_absolute_error(y_test, y_pred))
print('r2 score: ', r2_score(y_test, y_pred))
print('root mean squared error: ', np.sqrt(mean_squared_error(y_test, y_pred)))

mean squared error:  0.918401885918368
mean absolute error:  0.7729857142857142
r2 score:  0.26526164828368193
root mean squared error:  0.9583328680152674